server:
  servlet:
    context-path: /api
spring:
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/fintrack_local
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
  sql:
    init:
      mode: never
  liquibase:
    enabled: true
    change-log: classpath:liquibase/changelog.xml
    contexts: ${spring.profiles.active}

app:
  logging:
    exceptions:
      stack-track:
        enabled: false